{#

    Created by: Raffaello Perrotta

    achievements.twig - template for displaying locked and unlocked achievements

#}

{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <script src="js/play.js"></script>
	<script> player_id = "{{playerId}}";</script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <meta name="google-signin-clientid" content="689728249892-r4l3ip9nrblqkun6aql2bsbrsjr21ksj.apps.googleusercontent.com" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/games" />
{% endblock %}

{% block content %}
    
    <div class="page-header">
    <h1 style="display:inline">View your Achievements</h1>
    <span id="signinButton" class="pull-right">
	  <span
		class="g-signin"
		data-callback="signinCallbackAchievements"
		data-clientid="689728249892-r4l3ip9nrblqkun6aql2bsbrsjr21ksj.apps.googleusercontent.com"
		data-cookiepolicy="single_host_origin"
		data-scope="https://www.googleapis.com/auth/plus.login"
		>
	  </span>
	</span>
    <br><br>
    <p><b>Note: this page requires third party cookies to be enabled on your browser as well as a validated tester account, for testing purposes
	      we reccommend to use the details provided for team.19.service@gmail.com as our app is unpublished. Additionally if you are signed into a Google account already please sign out <a href="https://accounts.google.com/logout"> here. </a></b>
       No private information relating to any bank details or account information is requested or shared, this is purely for achievement viewing purposes. 
	   The user has an option whether to sign in within the app and use Google Play services. The below will show the users current achievements progress.
       </p>
    </div>
    
	{% if playerId %}

    <table class="table table-condensed" id="achievementsTable">
		<thead>
		<tr>
		  <th class="col-md-3">Achievement</th>
		  <th class="col-md-2">Name</th>
		  <th class="col-md-3">Description</th>
		  <th class="col-md-3">Type - Total Steps</th>
		  <th class="col-md-2">Unlocked</th>
		</tr>
		</thead>   
    </table>
	
	<h4 id="loading">Achievements currently loading, please wait... ensure you are signed in via clicking the signin button.</h4>
	
	{% else %}
	  <div class="alert alert-info" role="alert">
            <p><span class="glyphicon glyphicon-info-sign"></span> You have not registered your player id. To do so go to your application and sign into Google Play via the profile.</p>
      </div>
	{% endif %}
    
{% endblock %}


