{#

    Created by: Abdulaziz AlSaad

    team.twig - template which shows team members and their roles

#}
{% extends "base.twig" %}
 
{% block title %}Team{% endblock %}
 
{% block content %}
 
<article class="row" id="team">
 
    <div class="col-md-6 col-md-offset-1 inline features-wrapper">
        <h1>Team Roles:</h1>
 
       <p id = "members">
           <ul id = "list">
            <li>
                Dale Whinham <ul>  Software Developer</ul>
 
            </li>
 
            <li>
                Timothy Lee <ul>  System Designer</ul>
 
            </li>
 
            <li>
                Abdulaziz AlSaad <ul>  Web Designer</ul>
 
            </li>
 
            <li>
                Yessengerey Bolatov <ul>  UI Designer</ul>
 
            </li>
 
            <li>
                Raffaello Perrotta <ul>  App Developer</ul>
 
            </li>
 
            <li>
                Yao Tong <ul>  App Developer</ul>
 
            </li>
 
            <li>
                Siddarth Singh<ul>  Web Developer</ul>
 
            </li>
 
            <li>
                Daniel Crinnion <ul>  Tester</ul>
 
            </li>
 
 
 
           </ul>
       </p>
 
 
    </div>
 
 
 
    </article>
 
{% endblock %}